* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 13px;
}
p {
  font-size: 16px;

  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}
/* header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: rgb(196, 196, 211);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  height: 125px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
/* pagination */
#pagination {
  text-align: center;
  padding: 105px 0px;
}
#pagination a {
  color: white;
  background-color: rgb(7, 76, 36);
  border-radius: 13px;
  padding: 20px 33px;
  line-height: 23px;
  text-decoration: none;
  font-weight: 600;
  font-size: 26px;
}
/* single product */
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
  height: 40%;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#prodetails .single-pro-details h6 {
  padding: 40px 0px 20px 0px;
}
#prodetails .single-pro-details h3 {
  padding: 20px 0px 10px 0px;
}

#prodetails .single-pro-details h4 {
  font-size: 26px;
  padding: 28px 0px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 6px 7px;
  margin-bottom: 24px;
  width: 187px;
  height: 43px;
}
#prodetails .single-pro-details input {
  width: 67px;
  height: 42px;
  padding: 10px;
  font-size: 17px;
  margin-right: 47px;
}
#prodetails .single-pro-details button {
  padding: 22px 12px;
  border-radius: 5px;
  height: 20px;
  width: 116px;
  color: white;
  background-color: #088178;
  line-height: 1px;
  border: 2px solid #088178;
  cursor: pointer;
  margin-top: 28px;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}
/* Blog Page */
#page-header.blog-header {
  background-image: url("book.jpeg");
  height: 85vh;
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 80px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #088178;
  transition: 0.3s;
}
#blog .blog-details a:hover::after {
  background-color: #088178;
  transition: 0.3s;
}
#blog .blog-box h1 {
  position: absolute;
  top: -46px;
  left: 0px;
  font-size: 70px;
  font-weight: 700;
  color: grey;
  z-index: -1;
}
/* about page */
#page-header.about-header {
  background-image: url("new33.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}
#about-head img {
  width: 30%;
  height: auto;
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head div {
  padding-left: 40px;
}
#about-app h1 {
  text-align: center;
}
#about-app .video {
  width: 80%;
  height: 100%;
  margin-top: 30px;
  margin: auto;
}
#about-app .video video {
  width: 969px;
  height: auto;
  border-radius: 55px;
  padding: 51px 5px;
  margin: 22px auto 0 49px;
}
/* contact page */
#page-header.about-head {
  background-image: url("imgban10.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;

  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li svg {
  padding-right: 5px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 44%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgb(184, 161, 161);
}
#form-details form button {
  color: white;
  font-size: 17px;
  padding: 20px 26px;
  margin: 34px 0px;
  font-weight: 700;
  border-radius: 6px;

  cursor: pointer;
  background-color: #088178;
  border: 2px solid #088178;
}
#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
/* cart page */
#page-header.cart-header {
  background-image: url("new11.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}
#cart {
  overflow-x: auto;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 2px solid #f7b3ed;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
  margin-top: 35px;
  margin-left: 115px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 12px 12px;
  outline: none;
  width: 37%;
  border: 1px solid #e2e9e1;
}
#subtotal {
  margin-bottom: 30px;
  margin-top: 35px;
  width: 40%;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#coupon button {
  padding: 19px 12px;
  border-radius: 5px;
  height: 20px;
  width: 106px;
  color: white;
  background-color: #088178;
  line-height: 1px;
  border: 2px solid #088178;
  cursor: pointer;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
}
#subtotal button {
  padding: 19px 12px;
  border-radius: 5px;
  height: 20px;
  width: 165px;
  color: white;
  background-color: #088178;
  line-height: 1px;
  border: 2px solid #088178;
  cursor: pointer;
}

.logo {
  height: 7em;
  width: 8em;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 395px;
  width: 34px;
}
#navbar li {
  list-style: none;
  /* padding: 0 109px; */
  padding: 0 48px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: rgb(44, 190, 142);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 29%;
  height: 3px;
  background: rgb(44, 190, 142);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
}
#close {
  display: none;
}

/* home page */
#hero {
  background-image: url("bg1.png");
  height: 282vh;
  width: 73%;
  background-position: top 3% right 0%;
  background-size: cover;
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url("btn5.jpg");
  background-color: transparent;
  color: #088178;
  border: 0px;
  padding: 18px 48px 15px 33px;
  background-position: 0% 38%;
  background-size: cover;
  height: auto;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
}
.fe-box img {
  height: 151px;
  width: 158px;
}

#feature .fe-box {
  width: 226px;
  text-align: center;
  padding: 38px 12px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid grey;
  border-radius: 4px;
  margin: 27px 9px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  display: inline-block;
  line-height: 1;
  color: #088178;
  /* background-color: rgb(196, 196, 211); */
  background-color: rgb(119, 182, 182);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 40px;
}
#feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(249, 161, 196);
}
#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(213, 221, 66);
}
#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(116, 193, 168);
}
#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(228, 148, 180);
  /* background-color: rgb(234, 114, 180); */
}
#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(215, 159, 245);
}
#product {
  text-align: center;

  /* z-index: -1;
  position: relative; */
}
#product .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  flex-wrap: wrap;
}
#product .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(215, 159, 245);
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  /* transition: 0.2 ease; */
  border-radius: 12px;
  position: relative;

  /* background-color: white; */
  /* z-index: -1; */
}
#product .pro img {
  width: 71%;
  border-radius: 20px;
}
.bag {
  /* justify-content: flex-end;
  display: flex; */
  position: absolute;
  height: 40px;
  width: 41px;
  background-color: #c5e1a5e0;
  line-height: 46px;
  text-align: center;

  color: #088178;
  border-radius: 360px;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
}
.star svg {
  cursor: pointer;
}
#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}
#product .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product .pro .des span {
  color: #827e7e;
  font-size: 12px;
}
#product .pro .des h5 {
  padding-top: 7px;
  color: black;
  font-size: 14px;
}
#product .star svg {
  color: rgb(251, 178, 7);
  font-size: 19px;
  margin: 3px 2px;
}
#product .pro .des h4 {
  color: #088178;
  font-size: 18px;
  padding: 3px 5px;
  font-weight: 700;
}
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("banner3.jpeg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 196px 0px;
}

#banner h4 {
  color: black;
  font-size: 45px;
}
#banner h2 {
  font-size: 56px;
}
#banner button.normal {
  color: white;
  font-size: 21px;
  padding: 20px 26px;
  margin: 7px 0px;
  font-weight: 700;
  border-radius: 6px;
  background: transparent;
  border-color: #827e7e;
  cursor: pointer;
}
#banner button:hover {
  background-color: #088178;
}
#banner h2 span {
  color: red;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("imgban4.jpg");
  min-width: 780px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 141px 55px;
  border-radius: 8px;
}
#sm-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#sm-banner h4 {
  color: white;
  font-size: 25px;
  font-weight: 300;
  padding: 7px 0px;
}
#sm-banner h2 {
  color: white;
  padding: 5px 0px;
}
#sm-banner span {
  color: white;
  font-size: 17px;
  padding: 9px 0px;
  font-weight: 700;
}
.banner-box button {
  color: white;
  font-size: 15px;
  padding: 20px 26px;
  margin: 7px 0px;
  font-weight: 700;
  border-radius: 8px;
  background: transparent;
  border-color: white;
  cursor: pointer;
}
.banner-box button:hover {
  background-color: #088178;
}
#sm-banner .banner-box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("imgban8.jpg");
  min-width: 780px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 141px 55px;
  border-radius: 8px;
}
.banner-box1 button {
  color: white;
  font-size: 15px;
  padding: 20px 26px;
  margin: 7px 0px;
  font-weight: 700;
  border-radius: 8px;
  background: transparent;
  border-color: white;
  cursor: pointer;
}
.banner-box1 button:hover {
  background-color: #088178;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("newimg.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 55px;
  border-radius: 8px;
  margin-bottom: 20px;
}
#banner3 h2 {
  color: white;
  font-weight: 700;
}

#banner3 h3 {
  color: white;
  font-weight: 700;
}
#banner3 span {
  color: red;
  font-weight: 700;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 80px;
}
.banner-box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("new2.webp");
  min-width: 30%;
  height: 30vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 55px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.banner-box2 h2 {
  color: white;
  font-weight: 700;
}

.banner-box2 h3 {
  color: white;
  font-weight: 700;
}
.banner-box2 span {
  color: red;
  font-weight: 700;
}

.banner-box3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("new3.png");
  min-width: 30%;
  height: 30vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 55px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.banner-box3 h2 {
  color: white;
  font-weight: 700;
}

.banner-box3 h3 {
  color: white;
  font-weight: 700;
}
.banner-box3 span {
  color: red;
  font-weight: 700;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("mail.jpg");
  background-repeat: no-repeat;
  background-position: 60% 42%;
  background-size: cover;
  padding-bottom: 1%;
}
.newstext {
  padding: 50px 55px;
}
.newstext h4 {
  color: white;
  font-size: 31px;
  font-weight: 700;
}
.newstext p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.newstext p span {
  color: #f8de00;
}
.form {
  padding: 0px 60px;
}
.form input {
  border-radius: 6px;
  padding: 17px 53px;
  font-size: 12px;
}
.form button {
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  margin: 7px 0px;
  font-weight: 700;
  border-radius: 8px;
  background: transparent;
  border-color: white;
  cursor: pointer;
}
.form button:hover {
  background-color: #088178;
}
.col img {
  height: 125px;
  width: 125px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .icon {
  padding: 18px 0;
}
.col a {
  text-decoration: none;
  padding: 12px 0px;
  color: black;
}
.col h4 {
  padding: 18px 0px;
  font-size: 30px;
  cursor: pointer;
}
.row img {
  height: 102px;
  width: 141px;
  cursor: pointer;
}
footer .follow {
  color: rgb(61, 59, 59);
  cursor: pointer;
}
.icon svg:hover,
.col a:hover {
  color: #088178;
}
#page-header {
  background-image: url("imgban11.jpg");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2 {
  color: white;
  font-size: 80px;
  font-weight: 700;
}
#page-header p {
  color: white;
  font-size: 45px;
}
@media (max-width: 799px) {
  body {
    width: fit-content;
  }
  #navbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 482vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.6);
    padding: 80px 0 0 10px;
    transition: 0.4s;
  }
  #navbar .non {
    display: none;
  }
  #navbar.act {
    right: 0px;
  }
  #close {
    display: initial;
    color: black;
    padding: 0px 13px;
    position: absolute;
    top: -312px;
    left: -5px;
  }
  
  #mobile {
    display: flex;
  }
  #mobile a {
    padding: 0px 36px;
    color: black;
  }
  #navbar li {
    padding: 19px 41px;
  }
  #sm-banner {
    justify-content: center;
  }
  #feature {
    justify-content: center;
  }
  #sm-banner .banner-box {
    min-width: 1483px;
    height: 57vh;
    background-position: inherit;
  }
  #sm-banner .banner-box1 {
    min-width: 1483px;
    height: 57vh;
    background-position: inherit;
  }
  #banner3 {
    padding: 0px 3px;
  }
  /* blog page */
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  #blog .blog-details {
    width: 100%;
  }
  #about-app .video {
    width: 106%;
  }
  /* contact page*/
  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
  #coupon {
    margin-left: 55px;
  }
  #banner3 {
    justify-content: space-evenly;
  }
  #prodetails .single-pro-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }
  #prodetails .single-pro-details h4 {
    padding: 6px 0px;
  }
  #prodetails .single-pro-details h6 {
    padding: 40px 0px -3px 0px;
  }
}
@media (max-width: 1280px) {
  body {
    width: fit-content;
  }
  .banner-box3 {
    min-width: 104%;
  }
  #banner3 {
    padding: 0 314px;
  }
  .banner-box2 {
    min-width: 104%;
  }
  #sm-banner .banner-box {
    min-width: 1210px;

    padding: 351px 55px;
    height: 44vh;
  }
  #sm-banner .banner-box1 {
    min-width: 1210px;

    padding: 351px 55px;
    height: 44vh;
  }
  #hero {
    background-position: top 3% right 38%;
    width: 99%;
  }
  .banner-box3 {
    padding: 50px 306px;
  }

  #contact-details .map {
    width: 74%;
  }
  #contact-details .details {
    width: 39%;
  }
  /* coupon */
  #coupon {
    margin-left: 92px;
  }
  #sm-banner .banner-box {
    height: 67vh;
  }
  #sm-banner .banner-box1 {
    height: 66vh;
  }
  #prodetails .single-pro-details input {
    margin-bottom: 24px;
  }
  #prodetails .single-pro-image {
    margin-right: -167px;
  }
  #prodetails .single-pro-image {
    width: 54%;
   
  }
  #prodetails .single-pro-details {
    
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 187px;
    
  }
  #about-app .video video {
    width: 698px;
  }
  footer .col {
    margin-left: 54px;
  }
}

@media (max-width: 477px) {
  body {
    width: fit-content;
  }
  /* contact page */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 101%;
  }
  #form-details {
    margin: 10px;
    padding: 20px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 10%;
  }
  /* coupon */
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 39px;
  }

  
  #prodetails .single-pro-image {
    width: 100%;
  }
  #prodetails .single-pro-details {
    /* padding-top: 456px; */
    padding-top: 537px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #prodetails .single-pro-details h4 {
    padding: 0px -1px;
  }
  #prodetails .single-pro-details input {
    margin-bottom: 24px;
  }
  #prodetails .single-pro-image {
    margin-right: -427px;
    padding-top: -6px;
  }
}

@media (max-width: 912px) {
  
  /* coupon */
  #coupon {
    margin-left: 48px;
  }
  #cart {
    overflow-x: auto;
  }
  #banner3 .banner-box {
    height: 26vh;
  }
  #banner3 .banner-box {
    min-width: 104%;
  }
  #cart {
    width: 115%;
    margin-left: -31px;
  }
}
